*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
}

.title {
  color: #fff;
  font-size: 24px;
  text-transform: uppercase;
  text-align: center;
  text-shadow: 2px 0 3px rgba(0, 0, 0, 0.7);
}

.blackhole-object.hovered span {
  display: block;
}

.starfield {
  height: 100vh;
  background: url("../../img/task-2/bg.jpg") no-repeat center/cover;
  position: relative;
  z-index: 10;
}

.blackhole-object {
  width: calc(777px / 3);
  height: calc(437px / 3 + 40px);
  position: absolute;
  z-index: -2;
  top: 200px;
  left: 200px;
}
.blackhole-object__title {
  display: none;
  position: absolute;
  top: -50px;
}
.blackhole-object__body {
  width: calc(777px / 3.5);
  height: calc(437px / 3.5);
  background: url("../../img/task-2/objects/black-hole.gif") no-repeat center/cover;
}

.celestial-object {
  position: absolute;
  cursor: all-scroll;
}
.celestial-object.delete {
  animation: deletion 1s ease-in-out;
}
.celestial-object > * {
  position: relative;
}
.celestial-object__title {
  margin-top: 5px;
  display: block;
  cursor: text;
  border: 2px solid transparent;
  border-radius: 5px;
}
.celestial-object__title:hover {
  border-color: #c0c0c0;
  background-color: rgba(255, 255, 255, 0.12);
}
.celestial-object__body {
  z-index: -1;
  margin: 5px auto 0;
}

.title-edit {
  display: flex;
  flex-direction: column;
}
.title-edit__label {
  font-size: 14px;
  color: #fff;
  text-shadow: 2px 0 3px rgba(0, 0, 0, 0.7);
  animation: input-fade 3s infinite alternate;
}
.title-edit .wrapper {
  margin-top: 5px;
  display: flex;
  align-items: center;
}
.title-edit__input {
  width: 150px;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding: 5px 10px;
}
.title-edit__input:hover, .title-edit__input:focus {
  border: 2px solid #c0c0c0;
}
.title-edit__btn {
  padding: 2px 8px;
  flex-basis: 20%;
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 3px;
  font-size: 18px;
  color: #000;
}
.title-edit__btn:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
}
.title-edit__btn:active {
  transform: scale(0.9);
}

.star {
  width: calc(278px / 2);
  height: calc(278px / 2);
  background: url("../../img/task-2/objects/sun.gif") no-repeat center/cover;
}

.planet {
  width: calc(278px / 2);
  height: calc(278px / 2);
  background: url("../../img/task-2/objects/sun.gif") no-repeat center/cover;
}

.meteor {
  width: calc(278px / 2);
  height: calc(278px / 2);
  background: url("../../img/task-2/objects/sun.gif") no-repeat center/cover;
}

.asteroid {
  width: calc(278px / 2);
  height: calc(278px / 2);
  background: url("../../img/task-2/objects/sun.gif") no-repeat center/cover;
}

.comet {
  width: calc(278px / 2);
  height: calc(278px / 2);
  background: url("../../img/task-2/objects/sun.gif") no-repeat center/cover;
}

.delete {
  content: "";
  display: block;
  position: absolute;
  z-index: 1;
  left: calc(100% - 30px - 1px);
  top: -20px;
  transform: translateY(-30%);
  width: 30px;
  height: 30px;
  background: rgba(255, 255, 255, 0.5) url("../../img/task-2/trash.png") center center/cover no-repeat;
  border-radius: 3px;
  cursor: pointer;
  transition: all 0.1s ease;
}
.delete:hover {
  background-color: rgba(255, 255, 255, 0.3);
}
.delete:active {
  transform: translateY(-25%);
}

@keyframes input-fade {
  from {
    opacity: 10%;
  }
  to {
    opacity: 100%;
  }
}